body{
    background: darkblue;
    margin:0;
    padding:0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:18px;
}
h1{
    background-color:black;
    opacity: 0.8;
    margin:0;
    color: silver;
    font-size: 42px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    border-style: solid;
    border-width: "5px";
    padding-top:"20px";
    padding-bottom: "20px";
    line-height:150%;
    
}

h2{

    color: silver;
    text-align: left;
    text-shadow: 3px 2px white;
    text-decoration: underline;
    font-size: 36px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;   
    
  


}

h3{

    font-size: 36px;
    text-shadow: 3px 2px white; 
    text-decoration: underline;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;   

}

.img{
    height: 200px;
    width: 200px;
    left:10px;
    border-style: double;
    border-color: silver;
}


p{
    color:silver;
    margin:0;
    text-align: justify;
    position: relative;
    right: 580px
    ;
}

a{
  color:red;

}

.container{
    width:1024px;
    margin:0 auto;
    position: relative;
    right:100px;

}

.container2{
    color: silver;
    text-align: left;
    width:1024px;
    margin:0;
    position: fixed;
    top: 70px;
    width: 400px;
    right:100px;

}

#mainBio,
#contactInfo{
float: left;
}
#mainBio{
    float: left;
    width:70%;
}
#contactInfo{
    float: center;
    width: 40%;
    margin:0;
    color:silver;
    text-align: left;
   
   
}
div{
padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 80px;}
