body{
    background: darkblue;
    margin:0;
    padding:0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:18px;
}
h1{
    background-color:black;
    margin:0;
    color: silver;
    font-size: 42px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    border-style: solid;
    border-width: "5px";
    padding-top:"20px";
    padding-bottom: "20px";
    line-height:150%;
}

h2{

    color: silver;
    text-align: left;
    font-size: 36px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;   

}

h3{

    font-size: 36px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;   

}
p{
    color:silver;
    margin:0;
    position: relative;
    right: 580px
    ;
}

a{
  color:red;

}

.container{
    width:1024px;
    margin:0 auto;
    position: relative;
    right:100px;

}

.container2{
    color: silver;
    text-align: left;
    width:1024px;
    margin:0;
    position: fixed;
    top: 70px;
    width: 400px;
    right:100px;

}

#mainBio,
#contactInfo{
float: left;
}
#mainBio{
    float: left;
    width:70%;
}
#contactInfo{
    float: center;
    width: 40%;
    margin:0;
    color:silver;
    text-align: left;
   
   
}